<%- include('inc/header.ejs') %>

<% posts.forEach((post) => { %>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <%=post.title%>
        </div>
        <div class="card-body">
          <p class="fs-6 fst-italic text-end"><%=post.date%></p>
          <p><%-marked(post.content)%></p>
        </div>
      </div>
    </div>
  </div><br />
<% }) %>

<%- include('inc/footer.ejs') %>
