<%
if (locals.locationError) {locationError = true} else {locationError = false}
if (locals.forecastError) {forecastError = true} else {forecastError = false}

if (locals.currentForecast != "" && locals.currentForecast != undefined) {
    currentForecast = locals.currentForecast
    hourlyForecast=locals.hourlyForecast
    dailyForecast=locals.dailyForecast
    alertsForecast=locals.alertsForecast
    timerTotal=locals.avgTimer
} else {
    location = ""
    currentForecast = ""
    hourlyForecast = ""
    dailyForecast = ""
    alertsForecast = [ { "id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.b15b317cbb8b0246ea0f773e5fd507ab99d2ee19.001.1", "type": "Feature", "geometry": null, "properties": { "@id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.b15b317cbb8b0246ea0f773e5fd507ab99d2ee19.001.1", "@type": "wx:Alert", "id": "urn:oid:2.49.0.1.840.0.b15b317cbb8b0246ea0f773e5fd507ab99d2ee19.001.1", "areaDesc": "Boone, IL; Cook, IL; De Kalb, IL; DuPage, IL; Ford, IL; Grundy, IL; Iroquois, IL; Kane, IL; Kankakee, IL; Kendall, IL; Lake, IL; La Salle, IL; Lee, IL; Livingston, IL; McHenry, IL; Ogle, IL; Will, IL; Winnebago, IL; Benton, IN; Jasper, IN; Lake, IN; Newton, IN; Porter, IN", "geocode": { "SAME": [ "017007", "017031", "017037", "017043", "017053", "017063", "017075", "017089", "017091", "017093", "017097", "017099", "017103", "017105", "017111", "017141", "017197", "017201", "018007", "018073", "018089", "018111", "018127" ], "UGC": [ "ILC007", "ILC031", "ILC037", "ILC043", "ILC053", "ILC063", "ILC075", "ILC089", "ILC091", "ILC093", "ILC097", "ILC099", "ILC103", "ILC105", "ILC111", "ILC141", "ILC197", "ILC201", "INC007", "INC073", "INC089", "INC111", "INC127" ] }, "affectedZones": [ "https://api.weather.gov/zones/county/ILC007", "https://api.weather.gov/zones/county/ILC031", "https://api.weather.gov/zones/county/ILC037", "https://api.weather.gov/zones/county/ILC043", "https://api.weather.gov/zones/county/ILC053", "https://api.weather.gov/zones/county/ILC063", "https://api.weather.gov/zones/county/ILC075", "https://api.weather.gov/zones/county/ILC089", "https://api.weather.gov/zones/county/ILC091", "https://api.weather.gov/zones/county/ILC093", "https://api.weather.gov/zones/county/ILC097", "https://api.weather.gov/zones/county/ILC099", "https://api.weather.gov/zones/county/ILC103", "https://api.weather.gov/zones/county/ILC105", "https://api.weather.gov/zones/county/ILC111", "https://api.weather.gov/zones/county/ILC141", "https://api.weather.gov/zones/county/ILC197", "https://api.weather.gov/zones/county/ILC201", "https://api.weather.gov/zones/county/INC007", "https://api.weather.gov/zones/county/INC073", "https://api.weather.gov/zones/county/INC089", "https://api.weather.gov/zones/county/INC111", "https://api.weather.gov/zones/county/INC127" ], "references": [], "sent": "2024-08-27T17:10:00-05:00", "effective": "2024-08-27T17:10:00-05:00", "onset": "2024-08-27T17:10:00-05:00", "expires": "2024-08-27T23:00:00-05:00", "ends": "2024-08-27T23:00:00-05:00", "status": "Actual", "messageType": "Alert", "category": "Met", "severity": "Severe", "certainty": "Possible", "urgency": "Future", "event": "Severe Thunderstorm Watch", "sender": "w-nws.webmaster@noaa.gov", "senderName": "NWS Chicago IL", "headline": "Severe Thunderstorm Watch issued August 27 at 5:10PM CDT until August 27 at 11:00PM CDT by NWS Chicago IL", "description": "THE NATIONAL WEATHER SERVICE HAS ISSUED SEVERE THUNDERSTORM WATCH\n658 IN EFFECT UNTIL 11 PM CDT /MIDNIGHT EDT/ THIS EVENING FOR THE\nFOLLOWING AREAS\n\nIN ILLINOIS THIS WATCH INCLUDES 18 COUNTIES\n\nIN CENTRAL ILLINOIS\n\nLIVINGSTON\n\nIN EAST CENTRAL ILLINOIS\n\nFORD IROQUOIS\n\nIN NORTH CENTRAL ILLINOIS\n\nBOONE DE KALB LA SALLE\nLEE OGLE WINNEBAGO\n\nIN NORTHEAST ILLINOIS\n\nCOOK DUPAGE GRUNDY\nKANE KANKAKEE KENDALL\nLAKE IL MCHENRY WILL\n\nIN INDIANA THIS WATCH INCLUDES 5 COUNTIES\n\nIN NORTHWEST INDIANA\n\nBENTON JASPER LAKE IN\nNEWTON PORTER\n\nTHIS INCLUDES THE CITIES OF ALGONQUIN, AURORA, BELVIDERE,\nBOLINGBROOK, BOURBONNAIS, BUFFALO GROVE, BYRON, CAROL STREAM,\nCHESTERTON, CHICAGO, COAL CITY, CRYSTAL LAKE, DEKALB, DEMOTTE,\nDIXON, DOWNERS GROVE, DWIGHT, ELGIN, EVANSTON, FAIRBURY, FOWLER,\nGARY, GIBSON CITY, GILMAN, GURNEE, HAMMOND, JOLIET, KANKAKEE,\nKENTLAND, LA SALLE, LEMONT, LOMBARD, MARSEILLES, MCHENRY,\nMENDOTA, MERRILLVILLE, MINOOKA, MOROCCO, MORRIS, MUNDELEIN,\nNAPERVILLE, OAK LAWN, OREGON, ORLAND PARK, OSWEGO, OTTAWA,\nOXFORD, PARK FOREST, PAXTON, PLANO, PONTIAC, PORTAGE, RENSSELAER,\nROCHELLE, ROCKFORD, ROSELAWN, SCHAUMBURG, STREATOR, SYCAMORE,\nVALPARAISO, WATSEKA, WAUKEGAN, WHEATON, WILMINGTON, WOODSTOCK,\nAND YORKVILLE.", "instruction": null, "response": "Monitor", "parameters": { "AWIPSidentifier": [ "WCNLOT" ], "WMOidentifier": [ "WWUS63 KLOT 272210" ], "BLOCKCHANNEL": [ "EAS", "NWEM", "CMAS" ], "EAS-ORG": [ "WXR" ], "VTEC": [ "/O.NEW.KLOT.SV.A.0658.240827T2210Z-240828T0400Z/" ], "eventEndingTime": [ "2024-08-28T04:00:00+00:00" ] } } }, { "id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.3e77a4915425f9c286d786fa67cd147e85004c0c.002.1", "type": "Feature", "geometry": null, "properties": { "@id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.3e77a4915425f9c286d786fa67cd147e85004c0c.002.1", "@type": "wx:Alert", "id": "urn:oid:2.49.0.1.840.0.3e77a4915425f9c286d786fa67cd147e85004c0c.002.1", "areaDesc": "Winnebago; Boone; McHenry; Lake; Ogle; Lee; De Kalb; Kane; DuPage; La Salle; Kendall; Grundy; Kankakee; Livingston; Iroquois; Ford; Northern Will; Southern Will; Eastern Will", "geocode": { "SAME": [ "017201", "017007", "017111", "017097", "017141", "017103", "017037", "017089", "017043", "017099", "017093", "017063", "017091", "017105", "017075", "017053", "017197" ], "UGC": [ "ILZ003", "ILZ004", "ILZ005", "ILZ006", "ILZ008", "ILZ010", "ILZ011", "ILZ012", "ILZ013", "ILZ019", "ILZ020", "ILZ021", "ILZ023", "ILZ032", "ILZ033", "ILZ039", "ILZ106", "ILZ107", "ILZ108" ] }, "affectedZones": [ "https://api.weather.gov/zones/forecast/ILZ003", "https://api.weather.gov/zones/forecast/ILZ004", "https://api.weather.gov/zones/forecast/ILZ005", "https://api.weather.gov/zones/forecast/ILZ006", "https://api.weather.gov/zones/forecast/ILZ008", "https://api.weather.gov/zones/forecast/ILZ010", "https://api.weather.gov/zones/forecast/ILZ011", "https://api.weather.gov/zones/forecast/ILZ012", "https://api.weather.gov/zones/forecast/ILZ013", "https://api.weather.gov/zones/forecast/ILZ019", "https://api.weather.gov/zones/forecast/ILZ020", "https://api.weather.gov/zones/forecast/ILZ021", "https://api.weather.gov/zones/forecast/ILZ023", "https://api.weather.gov/zones/forecast/ILZ032", "https://api.weather.gov/zones/forecast/ILZ033", "https://api.weather.gov/zones/forecast/ILZ039", "https://api.weather.gov/zones/forecast/ILZ106", "https://api.weather.gov/zones/forecast/ILZ107", "https://api.weather.gov/zones/forecast/ILZ108" ], "references": [ { "@id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.aab27cb099059eaa811c15652770946e7ef84cb2.002.1", "identifier": "urn:oid:2.49.0.1.840.0.aab27cb099059eaa811c15652770946e7ef84cb2.002.1", "sender": "w-nws.webmaster@noaa.gov", "sent": "2024-08-27T09:57:00-05:00" } ], "sent": "2024-08-27T15:31:00-05:00", "effective": "2024-08-27T15:31:00-05:00", "onset": "2024-08-27T15:31:00-05:00", "expires": "2024-08-27T22:00:00-05:00", "ends": "2024-08-27T22:00:00-05:00", "status": "Actual", "messageType": "Update", "category": "Met", "severity": "Severe", "certainty": "Likely", "urgency": "Expected", "event": "Excessive Heat Warning", "sender": "w-nws.webmaster@noaa.gov", "senderName": "NWS Chicago IL", "headline": "Excessive Heat Warning issued August 27 at 3:31PM CDT until August 27 at 10:00PM CDT by NWS Chicago IL", "description": "* WHAT...Dangerously hot conditions with heat index values up to\n110 to 115 expected.\n\n* WHERE...Portions of central, east central, north central and\nnortheast Illinois.\n\n* WHEN...Until 10 PM CDT this evening.\n\n* IMPACTS...Extreme heat and humidity will significantly\nincrease the potential for heat related illnesses,\nparticularly for those working or participating in outdoor\nactivities.", "instruction": "Drink plenty of fluids, stay in an air-conditioned room, stay out\nof the sun, and check up on relatives and neighbors. Young\nchildren and pets should never be left unattended in vehicles\nunder any circumstances.\n\nTake extra precautions if you work or spend time outside. When\npossible reschedule strenuous activities to early morning or\nevening. Know the signs and symptoms of heat exhaustion and heat\nstroke. Wear lightweight and loose fitting clothing when\npossible. To reduce risk during outdoor work, the Occupational\nSafety and Health Administration recommends scheduling frequent\nrest breaks in shaded or air conditioned environments. Anyone\novercome by heat should be moved to a cool and shaded location.\nHeat stroke is an emergency! Call 9 1 1.", "response": "Execute", "parameters": { "AWIPSidentifier": [ "NPWLOT" ], "WMOidentifier": [ "WWUS73 KLOT 272031" ], "NWSheadline": [ "EXCESSIVE HEAT WARNING REMAINS IN EFFECT UNTIL 10 PM CDT THIS EVENING" ], "BLOCKCHANNEL": [ "EAS", "NWEM", "CMAS" ], "VTEC": [ "/O.CON.KLOT.EH.W.0001.000000T0000Z-240828T0300Z/" ], "eventEndingTime": [ "2024-08-28T03:00:00+00:00" ], "expiredReferences": [ "w-nws.webmaster@noaa.gov,urn:oid:2.49.0.1.840.0.3e21311eec4384af092cf906364abf4a5400aca6.002.1,2024-08-27T04:03:00-05:00 w-nws.webmaster@noaa.gov,urn:oid:2.49.0.1.840.0.3a53390ba7e9acc52c38ee7c2b69d57209f99a56.003.1,2024-08-26T20:29:00-05:00 w-nws.webmaster@noaa.gov,urn:oid:2.49.0.1.840.0.3a53390ba7e9acc52c38ee7c2b69d57209f99a56.001.2,2024-08-26T20:29:00-05:00 w-nws.webmaster@noaa.gov,urn:oid:2.49.0.1.840.0.ee6774c5a59488f4ecd8d9afb475d1106a13e327.002.2,2024-08-26T14:32:00-05:00 w-nws.webmaster@noaa.gov,urn:oid:2.49.0.1.840.0.ee6774c5a59488f4ecd8d9afb475d1106a13e327.001.2,2024-08-26T14:32:00-05:00" ] } } }, { "id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.6415b6d3652ee24b9e5ec8bfed59d49a6a366641.001.1", "type": "Feature", "geometry": null, "properties": { "@id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.6415b6d3652ee24b9e5ec8bfed59d49a6a366641.001.1", "@type": "wx:Alert", "id": "urn:oid:2.49.0.1.840.0.6415b6d3652ee24b9e5ec8bfed59d49a6a366641.001.1", "areaDesc": "McHenry; Lake; Kane; DuPage; Kendall; Grundy; Northern Cook; Central Cook; Southern Cook; Northern Will; Southern Will; Eastern Will", "geocode": { "SAME": [ "017111", "017097", "017089", "017043", "017093", "017063", "017031", "017197" ], "UGC": [ "ILZ005", "ILZ006", "ILZ012", "ILZ013", "ILZ020", "ILZ021", "ILZ103", "ILZ104", "ILZ105", "ILZ106", "ILZ107", "ILZ108" ] }, "affectedZones": [ "https://api.weather.gov/zones/forecast/ILZ005", "https://api.weather.gov/zones/forecast/ILZ006", "https://api.weather.gov/zones/forecast/ILZ012", "https://api.weather.gov/zones/forecast/ILZ013", "https://api.weather.gov/zones/forecast/ILZ020", "https://api.weather.gov/zones/forecast/ILZ021", "https://api.weather.gov/zones/forecast/ILZ103", "https://api.weather.gov/zones/forecast/ILZ104", "https://api.weather.gov/zones/forecast/ILZ105", "https://api.weather.gov/zones/forecast/ILZ106", "https://api.weather.gov/zones/forecast/ILZ107", "https://api.weather.gov/zones/forecast/ILZ108" ], "references": [], "sent": "2024-08-27T05:13:00-05:00", "effective": "2024-08-27T05:13:00-05:00", "onset": "2024-08-27T05:13:00-05:00", "expires": "2024-08-28T00:00:00-05:00", "ends": null, "status": "Actual", "messageType": "Alert", "category": "Met", "severity": "Unknown", "certainty": "Unknown", "urgency": "Unknown", "event": "Air Quality Alert", "sender": "w-nws.webmaster@noaa.gov", "senderName": "NWS Chicago IL", "headline": "Air Quality Alert issued August 27 at 5:13AM CDT by NWS Chicago IL", "description": "The Illinois Environmental Protection Agency has determined that an\nAir Pollution Action Day will be declared for the greater Chicago\nMetropolitan Area and is IN EFFECT UNTIL MIDNIGHT CDT TONIGHT.\n\nA Chicago area Air Pollution Action Day is declared when weather\nconditions are such that widespread ozone and or particulate levels\nare expected to be at or above the Unhealthy for Sensitive Groups\ncategory of the Air Quality Index for multiple days.\n\nActive children and adults, especially people with pulmonary or\nrespiratory disease such as asthma, should limit prolonged outdoor\nactivity.\n\nArea residents are urged to reduce pollution levels. Air quality\nforecasts, current air quality, and tips on how you can reduce your\nemissions can be found at www.airnow.gov.\n\nMedia contact...Illinois EPA.", "instruction": null, "response": "Monitor", "parameters": { "AWIPSidentifier": [ "AQALOT" ], "WMOidentifier": [ "AEUS73 KLOT 271013" ], "NWSheadline": [ "AIR QUALITY ALERT IN EFFECT UNTIL MIDNIGHT CDT TONIGHT" ], "BLOCKCHANNEL": [ "EAS", "NWEM", "CMAS" ] } } }, { "id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.1aea8ed40890f596625e0ec461cd6e27e134a6cf.001.1", "type": "Feature", "geometry": null, "properties": { "@id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.1aea8ed40890f596625e0ec461cd6e27e134a6cf.001.1", "@type": "wx:Alert", "id": "urn:oid:2.49.0.1.840.0.1aea8ed40890f596625e0ec461cd6e27e134a6cf.001.1", "areaDesc": "McHenry; Lake; Kane; DuPage; Kendall; Grundy; Northern Cook; Central Cook; Southern Cook; Northern Will; Southern Will; Eastern Will", "geocode": { "SAME": [ "017111", "017097", "017089", "017043", "017093", "017063", "017031", "017197" ], "UGC": [ "ILZ005", "ILZ006", "ILZ012", "ILZ013", "ILZ020", "ILZ021", "ILZ103", "ILZ104", "ILZ105", "ILZ106", "ILZ107", "ILZ108" ] }, "affectedZones": [ "https://api.weather.gov/zones/forecast/ILZ005", "https://api.weather.gov/zones/forecast/ILZ006", "https://api.weather.gov/zones/forecast/ILZ012", "https://api.weather.gov/zones/forecast/ILZ013", "https://api.weather.gov/zones/forecast/ILZ020", "https://api.weather.gov/zones/forecast/ILZ021", "https://api.weather.gov/zones/forecast/ILZ103", "https://api.weather.gov/zones/forecast/ILZ104", "https://api.weather.gov/zones/forecast/ILZ105", "https://api.weather.gov/zones/forecast/ILZ106", "https://api.weather.gov/zones/forecast/ILZ107", "https://api.weather.gov/zones/forecast/ILZ108" ], "references": [], "sent": "2024-08-26T12:04:00-05:00", "effective": "2024-08-26T12:04:00-05:00", "onset": "2024-08-26T12:04:00-05:00", "expires": "2024-08-28T00:00:00-05:00", "ends": null, "status": "Actual", "messageType": "Alert", "category": "Met", "severity": "Unknown", "certainty": "Unknown", "urgency": "Unknown", "event": "Air Quality Alert", "sender": "w-nws.webmaster@noaa.gov", "senderName": "NWS Chicago IL", "headline": "Air Quality Alert issued August 26 at 12:04PM CDT by NWS Chicago IL", "description": "The Illinois Environmental Protection Agency has issued an Air\nPollution Action Day for the greater Chicago Metropolitan Area and\nis IN EFFECT UNTIL MIDNIGHT CDT TUESDAY NIGHT.\n\nA Chicago area Air Pollution Action Day is declared when weather\nconditions are such that widespread ozone and or particulate levels\nare expected to be at or above the Unhealthy for Sensitive Groups\ncategory of the Air Quality Index for multiple days.\n\nActive children and adults, especially people with pulmonary or\nrespiratory disease such as asthma, should limit prolonged outdoor\nactivity.\n\nArea residents are urged to reduce pollution levels. Air quality\nforecasts, current air quality, and tips on how you can reduce your\nemissions can be found at www.airnow.gov.\n\nMedia contact...Illinois EPA.", "instruction": null, "response": "Monitor", "parameters": { "AWIPSidentifier": [ "AQALOT" ], "WMOidentifier": [ "AEUS73 KLOT 261704" ], "NWSheadline": [ "AIR QUALITY ALERT IN EFFECT UNTIL MIDNIGHT CDT TUESDAY NIGHT" ], "BLOCKCHANNEL": [ "EAS", "NWEM", "CMAS" ] } } } ]
    timerTotal = ""
}
%>

<%- include('inc/header.ejs') %>

    <div class="d-flex align-items-center justify-content-center">
        <form method="GET" action="">
            <div class="input-group">
                <% if (currentForecast == "") { %>
                    <input type="text" class="form-control" id="searchquery" name="q" required />
                <% } else { %>
                    <input type="text" class="form-control" id="searchquery" name="q" value="<%=currentForecast.query%>" required />
                <% } %>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div><br />

    <% if (currentForecast == "") { %>
    <div style="text-align: center;">
        <small>
            60601 (Least accurate)<br />
            Chicago IL (More accurate) <br />
            233 S Wacker Dr Chicago IL (Most accurate)
        </small>
    </div>
    <% } %>

    <!-- Location Error -->
    <% if (locationError) { %>
    <br />
    <div class="alert alert-dismissible alert-warning text-center">
        <p class="mb-0">There was an issue finding your location, please double check your entry.</p>
    </div>
    <% } %>

    <!-- Forecast Error -->
    <% if (forecastError) { %>
    <br />
    <div class="alert alert-dismissible alert-warning text-center">
        <p class="mb-0">There was an issue obtaining your forecast, please refresh.</p>
    </div>
    <% } %>

    <!-- ALERTS -->
     <% if (alertsForecast != "") { %>
        <div class="accordion" id="accordionExample">
            <% alertsForecast.forEach((alerts, i) => { %>
                <div class="accordion-item alert">
                    <h2 class="accordion-header" id="heading<%=i%>">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=i%>" aria-expanded="false" aria-controls="collapse<%=i%>>">
                            <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;<%=alerts.properties.event%>
                        </button>
                    </h2>
                    <div id="collapse<%=i%>" class="accordion-collapse collapse" aria-labelledby="heading<%=i%>" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <%=alerts.properties.description%><br /><br /><%=alerts.properties.senderName%>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } %>

    <!-- CURRENT FORECAST -->
    <% if (currentForecast != "") { %>
    <div class="d-flex align-items-center justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-header text-white bg-primary">Current</div>
            <div class="card-body">
                <div class="text-center">
                    <h6 class="card-title"><%=currentForecast.temperatureTime%></h6>
                    <img class="img-fluid" src="<%=currentForecast.icon%>" />
                    <h3><%-currentForecast.temperature%> <%-currentForecast.temperaturetrend%></h3>
                    <% if (currentForecast.apparentTemperature != currentForecast.temperature) { %>
                        <p  class="card-text">Feels like: <%-currentForecast.apparentTemperature%></p>
                    <% } %>
                    <% if (currentForecast.windSpeed != '') { %>
                        <p class="card-text">Wind: <%-currentForecast.windSpeed%>
                        <% if (currentForecast.windGust != '') { %>
                            <br />Gusts: <%-currentForecast.windGust%>
                        <% } %>
                        </p>
                    <% } %>
                    <h5><%=currentForecast.shortForecast%></h5>
                    <%if (currentForecast.precipitation != 0 && currentForecast.weather != null && currentForecast.weather != 'fog') { %>
                        <p class="card-text"><%=currentForecast.precipitation%>% chance of precipitation</p>
                    <% } %>
                    <% if (currentForecast.highTemp != 999) { %>
                    <p class="card-text">
                        High <%-currentForecast.highTemp%> at <%=currentForecast.highTime%><br />
                        &nbsp;Low <%-currentForecast.lowTemp%> at <%=currentForecast.lowTime%>
                    </p>
                    <% } else { %>
                    <p class="card-text"><font size="1">High and Low times are not currently available</font></p>
                    <% } %>
                    <% if (currentForecast.sunrise != null && currentForecast.sunset != null) { %>
                    <div class="badge bg-warning">Sunrise <%=currentForecast.sunrise%></div>
                    <div class="badge bg-dark">Sunset <%=currentForecast.sunset%></div>
                    <% } %>
                </div>
            </div>
        </div>
    </div><br />
    <% } %>

    <!-- HOURLY FORECAST -->
    <% if (hourlyForecast != "") { %>
    <div class="d-flex align-items-center justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-header text-white bg-primary">Hourly</div>
            <div class="card-body">
                <div class="text-center">
                    <div class="swiper" id="swiper-hourly" style="text-align: center;">
                        <div class="swiper-wrapper">
                            <%
                            hourlyForecast.forEach((hourly) => {
                            %>
                            <div class="swiper-slide">
                                <h6 class="card-title"><%=hourly.temperatureTime%></h6>
                                <img src="<%=hourly.icon%>" />
                                <h4><%-hourly.temperature%></h4>
                                <% if (hourly.apparentTemperature != hourly.temperature) { %>
                                    <p class="card-text">Feels like: <%-hourly.apparentTemperature%></p>
                                <% } else { %>
                                    <br />
                                <% } %>
                                <h6><%=hourly.shortForecast%></h6>
                                <%if (hourly.precipitation != 0 && hourly.weather != null && hourly.weather != 'fog') { %>
                                    <p class="card-text"><%=hourly.precipitation%>%</p>
                                <% } %>
                            </div>
                            <%
                            })
                            %>
                        </div>
                    </div>
                    <div id="swiper-hourly-prev" class="swiper-button-prev"></div>
                    <div id="swiper-hourly-next" class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div><br />
    <% } %>

    <% if (dailyForecast != "") { %>
    <!-- DAILY FORECAST -->
    <% dailyForecast.forEach((daily) => { %>
    <div class="d-flex align-items-center justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-header text-white bg-primary"><%=daily.dayOfWeek%></div>
            <div class="card-body">
                <div class="text-center">
                    <% if (daily.morningHide != true) { %>
                    <img src="<%=daily.morningForecast.icon%>" />
                    <h6><%=daily.morningForecast.shortForecast%></h6>
                    <p class="card-text">
                        High <%-daily.morningHigh%> at <%=daily.morningHighTime%><br />&nbsp;
                        Low <%-daily.morningLow%> at <%=daily.morningLowTime%>
                    </p>
                    <% } %>
                    <div class="badge bg-warning">Sunrise <%=daily.sunrise%></div><br /><br />
                    <% if (daily.dayHide != true) { %>
                    <img src="<%=daily.dayForecast.icon%>" />
                    <h6><%=daily.dayForecast.shortForecast%></h6>
                    <p class="card-text">
                        High <%-daily.dayHigh%> at <%=daily.dayHighTime%><br />&nbsp;
                        Low <%-daily.dayLow%> at <%=daily.dayLowTime%>
                    </p>
                    <% } %>
                    <div class="badge bg-dark">Sunset <%=daily.sunset%></div><br /><br />
                    <% if (daily.eveningHide != true) { %>
                    <img src="<%=daily.eveningForecast.icon%>" />
                    <h6><%=daily.eveningForecast.shortForecast%></h6>
                    <p class="card-text">
                        High <%-daily.eveningHigh%> at <%=daily.eveningHighTime%><br />&nbsp;
                        Low <%-daily.eveningLow%> at <%=daily.eveningLowTime%>
                    </p>
                    <% } %>
                </div>
            </div>
        </div>
    </div><br />
    <% }) %>
    <% } %>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var swiperHourly = new Swiper('#swiper-hourly', {
            initialSlide: 1,
            slidesPerView: 2,
            navigation: {
                nextEl: '#swiper-hourly-next',
                prevEl: '#swiper-hourly-prev'
            }
        });
    });
</script>

<%- include('inc/footer.ejs', {timerTotal: timerTotal}) %>
